[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
webdavclient3 = "==3.14.5"
"pdfminer.six" = "*"
argparse = "*"

[dev-packages]

[requires]
python_version = "3.5"
