[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "==1.4.0"
certifi = "==2023.11.17"
cffi = "==1.16.0"
charset-normalizer = "==3.3.2"
cryptography = "==41.0.7"
idna = "==3.6"
lxml = "==5.1.0"
"pdfminer.six" = "==20231228"
pycparser = "==2.21"
python-dateutil = "==2.8.2"
requests = "==2.31.0"
six = "==1.16.0"
urllib3 = "==2.1.0"
webdavclient3 = "==3.14.5"

[dev-packages]

[requires]
python_version = "3.5"
